<detalle-iniciativa [iniciativa]="iniciativaSeleccionada"></detalle-iniciativa>

    <!-- Main content -->
    <section class="content">
      <h2>Actividades</h2>

    </section>

    <!-- /.card-footer-->
    <!-- Default box -->
    <div class="card">
      <div class="card-body">

        <button type="button" class="btn"  title="Crear Iniciativa" (click)=" crearIniciativa()">
          <i class="fa-md fas fa-plus"></i>
         </button>
            
        <div *ngIf="iniciativas?.length==0" class="alert alert-info">
            No hay registros en la base de datos!
        </div>
    
        <div class="table-responsive">
            <table mdbTable class="table table-bordered tabled-striped table-sm" id="tabla" style="border-collapse: collapse;">
              <thead>
                <tr class="text-white bg-primary">
                  <td width="100">Acciones</td>
                  <td width="80">Alerta</td>
                  <td>Actividades</td>
                  <td>% Completado</td>
                  <td>% Programado</td>
                  <td>Última Medición</td>
                </tr>
              </thead>
              
              <tbody>
                <tr *ngFor="let ind of iniciativas | paginate: {itemsPerPage: 10, currentPage: pageInic, id: 'pageIni'}">
                  <td width="100" >

                    <i class="fas fa-table" (click)="planificacion(ind)" style="cursor: pointer;"></i>
                    &nbsp;
                    <i class="fas fa-edit" (click)="editarIniciativa(ind)" style="cursor: pointer;"></i>
                    &nbsp;
                    <i class="fas fa-trash-alt" (click)='eliminarIniciativa(ind)' style="cursor: pointer;"></i>
                    
                  </td>
                  <td width="80">
                    <div id="red" *ngIf="ind.alerta == 3"></div>
                    <div id="yellow" *ngIf="ind.alerta == 2"></div>
                    <div id="green" *ngIf="ind.alerta == 1"></div>  
                  </td>
                  <td >{{ind.nombreIniciativa}} </td>
                  <td >{{ind.ultimaMedicion | number: '.1-2'}} </td>
                  <td >{{ind.ultimoProgramado | number: '.1-2'}} </td>
                  <td >{{ind.fechaUltimaMedicion}}</td>
                  
                </tr>
              </tbody>
                       
            </table>
        
            <pagination-controls id="pageIni" previousLabel="Anterior"
              nextLabel="Siguiente" (pageChange)="pageInic = $event"></pagination-controls>
        
        </div>
  
      </div>
    </div>  
    
    <!-- /.content -->

  <!-- /.content-wrapper -->

