<div *ngIf="modalservice.modal" class="abrir-modal animacion fadeIn">

  
    <div *ngIf="modalservice.modal" class="modal my-5" tabindex="-1" role="dialog" style="display:block;">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header text-white" style="background-color: #007BFF;">
            <h5 class="modal-title">{{titulo}}</h5>
            <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <form #procedimientoForm="ngForm">
                <div class="form-row">
                  <div class="form-group col-md-7">
                    <label for="nombre" style="font-size: medium">Procedimiento</label>
                    <input type="text" class="form-control" placeholder="Procedimiento" [(ngModel)]="caracterizacion.procedimientoNombre"
                      name="procedimientoNombre" maxlength="100" required #procedimiento="ngModel">
                      <div class="alert alert-danger" *ngIf="procedimiento.invalid && (procedimiento.dirty || procedimiento.touched)">
                          <div *ngIf="procedimiento.errors.required">
                            Procedimiento es requerido
                          </div>
                        </div>
  
  
                  </div>
                  <div class="form-group col-md-5">
                    <label for="codigo" style="font-size: medium">Código</label>
                    <input type="text" class="form-control" placeholder="Código" [(ngModel)]="caracterizacion.procedimientoCodigo"
                      name="procedimientoCodigo" maxlength="45">
                  </div>
                  <div class="form-group col-md-12">
                    <label for="objetivo" style="font-size: medium">Objetivo</label>
                    <textarea class="form-control" rows="5" placeholder="Objetivo" [(ngModel)]="caracterizacion.procedimientoObjetivo" name="procedimientoObjetivo" maxlength="150"></textarea>
                  </div>
                </div>
  
                <div class="form-group col-md-12" *ngIf="caracterizacion.procedimientoId">
                  <label for="documento" style="font-size: medium">Documento</label> <br>
                  <input (change)="seleccionarFoto($event)" type="file" name="documento" class="form"
                    accept=".xlsx,.xls,.doc, .docx,.ppt,.pptx,.pdf" *ngIf="caracterizacion.procedimientoDocumento == 0">
                  &nbsp; &nbsp;<button class="btn btn-rounded btn-primary" (click)="subirDocumento()" type="button" placement="bottom"
                    ngbTooltip="Subir documento" style="font-size: 8px" *ngIf="caracterizacion.procedimientoDocumento == 0"><i class="fas fa-file-upload fa-2x"></i></button>
                  &nbsp;
                <div class="form-group" *ngIf="caracterizacion.procedimientoId && caracterizacion.procedimientoDocumento >0">
                  <label style="font-size: medium" *ngIf="documento">{{documento.documentoNombre}}</label> &nbsp; &nbsp;
                  <button class="btn btn-rounded btn-primary" (click)="descargarDocumento()" type="button" placement="bottom"
                    ngbTooltip="Descargar documento" style="font-size: 8px"><i class="fas fa-download fa-2x"></i></button>
                  &nbsp;
                  <button class="btn btn-rounded btn-danger" (click)="eliminarDocumento()" type="button" placement="bottom"
                    ngbTooltip="Eliminar documento" style="font-size: 8px"><i class="far fa-trash-alt fa-2x"></i></button>
            
                </div>
                
                </div>
  
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button *ngIf="!caracterizacion.procedimientoId else elseBlock" (click)="create()" type="button" class="btn btn-primary"
              data-dismiss="modal"  [disabled]="!procedimientoForm.form.valid">Crear</button>
            <ng-template #elseBlock>
              <button (click)="update()" type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="!procedimientoForm.form.valid">Actualizar</button>
            </ng-template>
            <button (click)="cerrarModal()" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  
  
  </div>