<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="../../index3.html" class="brand-link navbar-dark">
      <span class="brand-text font-weight-light"><b>&nbsp;Strategos Riesgos</b></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

               <li class="nav-item">
                <a class="nav-link " style="cursor: pointer;">
                  <i class="nav-icon fas fa-cog"></i>&nbsp;
                  <p>
                    Configuración
                  </p> 
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a [routerLink]="['/banco/calificaciones']" class="nav-link">
                      <i class="far fa-circle nav-icon"></i> 
                      <p>Calificaciones Riesgo</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/banco/causas']" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Causas Riesgo</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/banco/controles']" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Controles Riesgo</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/banco/efectividad']" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Efectividad de Controles</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/banco/efectos']" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Efectos</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/banco/tiposimpacto']" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Impactos</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/banco/macroprocesos']" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Macroprocesos</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/banco/probabilidad']" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Probabilidades Riesgo</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/banco/respuesta']" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Respuestas Riesgo</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/banco/tiposriesgo']" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Tipos de Riesgo</p>
                    </a>
                  </li>
                </ul>
              </li>  

          
          <!--    
          <li class="nav-item menu-is-opening menu-open">
            <a [routerLink]="['/banco/gestionideas']" class="nav-link ">
              <i class="nav-icon fas fa-cog"></i>&nbsp;
              <p>
                Configuración
              </p>
            </a>            
          </li>
          -->
          

          <li class="nav-item">
            <a [routerLink]="['/banco/procesos']" class="nav-link">
              <i class="nav-icon fas fa-project-diagram"></i>&nbsp;
              <p>
                Procesos
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a [routerLink]="['/banco/riesgos']" class="nav-link">
              <i class="nav-icon fas fa-exclamation-triangle"></i>&nbsp;
              <p>
                Riesgos
              </p>
            </a>
          </li>

       

          <li class="nav-item">
            <a [routerLink]="['/banco/usuarios']" class="nav-link">
              <i class="nav-icon fas fa-users"></i>&nbsp;
              <p>
                Usuarios
              </p>
            </a>
          </li>
         
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
