<div *ngIf="modalservice.modal" class="abrir-modal animacion fadeIn">

    <div *ngIf="modalservice.modal" class="modal my-5" tabindex="-1" role="dialog" style="display:block;">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="width: 1200px;">
          <div class="modal-header text-white" style="background-color: #007BFF; height: 50px;">
            <h4 class="modal-title">{{titulo}}</h4>
  
          </div>
          <div class="modal-body">
            <div class="container">
              <form #indicadorForm="ngForm">
                <div class="form-row">
                    
                  <div class="card-body">
                    <div class="tab-content" id="custom-tabs-one-tabContent">
                      <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel"
                        aria-labelledby="custom-tabs-one-home-tab">
                        <div class="row">

                          <div class="col-md-12" >
                            <label for="exampleInputEmail1">Producto (*)</label><br>
                            <label for="exampleInputEmail2">{{objetivo}}</label><br>                            
                          </div>
                          <br>
                          <div class="col-md-12" >
                            <label for="exampleInputEmail1">Indicador (*)</label>
                            <input type="text" class="form-control" id="exampleInputEmail1"
                            placeholder="Indicador" [(ngModel)]="indicador.nombre"
                            name="nombre" required maxlength="50" #nombre="ngModel">
                            
                          </div>
  
                          <div class="col-md-12">
                            <br>
                            <label for="exampleInputEmail1">Descripción (*)</label>
                            <textarea class="form-control" rows="3" placeholder="Descripción"
                            [(ngModel)]="indicador.descripcion" name="descripcion" maxlength="30"
                            #descripcion="ngModel"></textarea>

                          </div>

                          <div class="col-md-3">
                            <br>
                            <label for="exampleInputEmail1">Unidad Medida (*)</label>
                            <select class="form-control" [(ngModel)]="indicador.unidadId"
                            name="unidadId" #unidadId="ngModel">
                                <option [value]="undefined" selected>Seleccionar</option>
                                <option *ngFor="let uni of unidades" [value]="uni.unidadId">{{uni.nombre}}</option>
                            </select>

                          </div>

                          <div class="col-md-3">
                            <br>
                            <label for="exampleInputEmail1">Frecuencia (*)</label>
                            <select class="form-control" [(ngModel)]="indicador.frecuencia"
                              name="frecuencia" required #frecuencia="ngModel">
                              <option [value]="undefined" selected>Seleccionar</option>
                              <option [value]="0">Diaria</option>
                              <option [value]="1">Semanal</option>
                              <option [value]="2">Quincenal</option>
                              <option [value]="3">Mensual</option>
                              <option [value]="4">Bimensual</option>
                              <option [value]="5">Trimestral</option>
                              <option [value]="6">Cuatrimestral</option>
                              <option [value]="7">Semestral</option>
                              <option [value]="8">Anual</option>
                            </select>
                          </div>

                          <div class="col-md-2">
                            <br>
                            <label for="exampleInputEmail1">Alerta Zona Verde (*)</label>
                            <input type="text" class="form-control" id="exampleInputEmail1"
                            placeholder="Alerta Zona Verde" [(ngModel)]="indicador.alertaMetaZonaVerde"
                            name="alertaMetaZonaVerde" required maxlength="50" #alertaMetaZonaVerde="ngModel">

                          </div>

                          <div class="col-md-2">
                            <br>
                            <label for="exampleInputEmail1">Alerta Zona Amarilla (*)</label>
                            <input type="text" class="form-control" id="exampleInputEmail1"
                            placeholder="Alerta Zona Amarilla" [(ngModel)]="indicador.alertaMetaZonaAmarilla"
                            name="alertaMetaZonaAmarilla" required maxlength="50" #alertaMetaZonaAmarilla="ngModel">

                          </div>

                          
    
                        </div>
                      </div>
                    </div>
                  </div>
  
  
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button *ngIf="!indicador.indicadorId else elseBlock" (click)="create()" type="button" class="btn btn-primary"
              data-dismiss="modal" [disabled]="!indicadorForm.form.valid">Crear</button>
            <ng-template #elseBlock>
              <button (click)="update()" type="button" class="btn btn-primary" data-dismiss="modal"
                [disabled]="!indicadorForm.form.valid">Actualizar</button>
            </ng-template>
            <button (click)="cerrarModal()" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  
  </div>
