
<div *ngIf="modalservice.modal" class="abrir-modal animacion fadeIn"> 

<div *ngIf="modalservice.modal" class="modal my-5" tabindex="-1" role="dialog" style="display:block;">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header text-white" style="background-color: #007BFF;">
          <h5 class="modal-title">{{titulo}}</h5>
          <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <form #impactoForm="ngForm">
                    <div class="form-row">
                      <div class="form-group col-md-9">
                        <label for="tipoimpacto" style="font-size: medium">Tipo Impacto </label>
                        <input type="text" class="form-control" placeholder="Tipo Impacto" [(ngModel)]="impacto.tipoImpacto" name="tipoImpacto"
                        required maxlength="50" #nombre="ngModel">
                        <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                          <div *ngIf="nombre.errors.required">
                            Tipo impacto es requerido
                          </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="puntaje" style="font-size: medium">Puntaje</label>
                      <input type="number" class="form-control" placeholder="Puntaje" [(ngModel)]="impacto.tipoImpactoPuntaje" name="tipoImpactoPuntaje"
                      required #puntaje="ngModel">
                      <div class="alert alert-danger" *ngIf="puntaje.invalid && (puntaje.dirty || puntaje.touched)">
                        <div *ngIf="puntaje.errors.required">
                          Puntaje es requerido
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-12">
                      <label for="inputAddress2" style="font-size: medium">Descripción</label>
                      <textarea class="form-control" rows="5" placeholder="Descripción" [(ngModel)]="impacto.tipoImpactoDescripcion" name="tipoImpactoDescripcion"
                      maxlength="500"></textarea>
                    </div>
                  </div>                 
                  
                  </form>    
            </div>
        </div>
        <div class="modal-footer">
            <button *ngIf="!impacto.tipoImpactolId else elseBlock" (click)="create()" type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="!impactoForm.form.valid">Crear</button>
            <ng-template #elseBlock>
                <button (click)="update()" type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="!impactoForm.form.valid">Actualizar</button>
            </ng-template>
          <button (click)="cerrarModal()" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>