<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="../../index3.html" class="brand-link navbar-primary">
      <span class="brand-text font-weight-light"><b>Strategos BancoProyectos</b></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          
          <li class="nav-item">
            <a [routerLink]="['/banco/gestionideas']" class="nav-link ">
              <i class="nav-icon fas fa-lightbulb"></i>&nbsp;
              <p>
                Ideas Proyectos
              </p>
            </a>
          </li>
          
          

          <li class="nav-item">
            <a [routerLink]="['/banco/preproyecto']" class="nav-link">
              <i class="nav-icon far fa-newspaper"></i>&nbsp;
              <p>
                Pre Proyectos
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a [routerLink]="['/banco/proyecto']" class="nav-link">
              <i class="nav-icon fas fa-calendar-alt"></i>&nbsp;
              <p>
                Proyectos
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a [routerLink]="['/banco/criterios']" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Criterios Evaluación</p>
            </a>
          </li>

          <li class="nav-item">
            <a [routerLink]="['/banco/usuarios']" class="nav-link">
              <i class="nav-icon fas fa-users"></i>&nbsp;
              <p>
                Usuarios
              </p>
            </a>
          </li>
         
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
