<div *ngIf="modalService.modal" class="abrir-modal animacion fadeIn">

    <div *ngIf="modalService.modal" class="modal my-5" tabindex="-1" role="dialog" style="display:block;">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="width: 1200px;">
          <div class="modal-header text-white" style="background-color: #007BFF; height: 50px;">
            <h4 class="modal-title">{{titulo}}</h4>
  
          </div>
          <div class="modal-body">
            <div class="container">
              <form #preProyectoForm="ngForm">
                <div class="form-row">
                  <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill"
                        href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home"
                        aria-selected="true">Parte I</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill"
                        href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile"
                        aria-selected="false">Parte II</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="custom-tabs-one-messages-tab" data-toggle="pill"
                        href="#custom-tabs-one-messages" role="tab" aria-controls="custom-tabs-one-messages"
                        aria-selected="false">Parte III</a>
                    </li>
                    
                  </ul>
  
                  <div class="card-body">
                    <div class="tab-content" id="custom-tabs-one-tabContent">
                      <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel"
                        aria-labelledby="custom-tabs-one-home-tab">
                        <div class="row">

                            <div class="col-md-12">
                                <label for="exampleInputEmail1">Idea Propuesta</label>
                                
                                <kendo-combobox
                                    [data]="data"
                                    [valuePrimitive]="true"
                                    textField="text"
                                    valueField="value"
                                    name="preproyecto.ideaId"
                                    [(ngModel)]="preproyecto.ideaId"
                                    [filterable]="true"
                                    (filterChange)="handleFilter($event)"
                                    (selectionChange)="seleccionarIdea($event)"
                                    placeholder="Seleccionar"                                   
                                    
                                  >
                                </kendo-combobox>
                            </div>

                            <div class="col-md-12">
                                <br>
                                <label for="exampleInputEmail1">Dependencia Responsable (*)</label>
                               
                                <kendo-combobox
                                    [data]="dataOrg"
                                    [valuePrimitive]="true"
                                    textField="text"
                                    valueField="value"
                                    name="preproyecto.dependenciaId"
                                    [(ngModel)]="preproyecto.dependenciaId"
                                    [filterable]="true"
                                    (filterChange)="handleFilterOrg($event)"
                                    placeholder="Seleccionar"
                                    (selectionChange)="seleccionarOrg($event)"
                                    
                                  required>
                                </kendo-combobox>
                               
                            </div>

                            <div class="col-md-5">
                                <br>
                                <label for="exampleInputEmail1">Profesional Responsable (*)</label>
      
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                  placeholder="Profesional Responsable" [(ngModel)]="preproyecto.profesionalResponsable"
                                  name="profesionalResponsable" required maxlength="50" #profesionalResponsable="ngModel">
                            </div>
      
                            <div class="col-md-3">
                                <br>
                                <label for="exampleInputEmail1">Teléfono Contacto (*)</label>
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                  placeholder="Teléfono Contacto" [(ngModel)]="preproyecto.contactoTelefono" name="contactoTelefono"
                                  required maxlength="50" #contactoTelefono="ngModel">
                            </div>
      
                            <div class="col-md-4">
                                <br>
                                <label for="exampleInputEmail1">Correo electronico (*)</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                  placeholder="Correo electronico" [(ngModel)]="preproyecto.contactoEmail" name="contactoEmail"
                                  required maxlength="50" #contactoEmail="ngModel">
                            </div>


                            <div class="col-md-2">
                                <br>
                                <label for="exampleInputEmail1">Fecha Radicación (*)</label><br>
                                <input [matDatepicker]="myDatepicker" class="form-control" [(ngModel)]="preproyecto.fechaRadicacion"
                                  name="fechaRadicacion" #fechaRadicacion="ngModel"
                                  style="display:inline; width:120px;" placeholder="dd/mm/yyyy">
                                <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
                                <mat-datepicker #myDatepicker></mat-datepicker>
                              </div>
      
                              <div class="col-md-2">
                                <br>
                                <label for="exampleInputEmail1">Año Formulación (*)</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Año Formulación"
                                  [(ngModel)]="preproyecto.anioFormulacion" name="anioFormulacion" required maxlength="4"
                                  #anioFormulacion="ngModel">
                              </div>
      
                              <div class="col-md-3">
                                <br>
                                <label for="exampleInputEmail1">Tipología Proyecto (*)</label>
                                <select class="form-control" required [(ngModel)]="preproyecto.tipoProyectoId"
                                  name="tipoProyectoId" required #tipoProyectoId="ngModel">
                                  <option [value]="undefined" selected>Seleccionar</option>
                                  <option *ngFor="let tip of tipos" [value]="tip.tipoProyectoId">{{tip.nombre}}
                                  </option>
                                </select>
                              </div>
      
                              <div class="col-md-3">
                                <br>
                                <label for="exampleInputEmail1">Estatus Proyecto</label>
                                <select *ngIf="preproyecto.proyectoId" class="form-control" [(ngModel)]="preproyecto.estatusId"
                                  name="estatusId" #estatusId="ngModel">
                                  <option [value]="undefined" selected>Seleccionar</option>
                                  <option *ngFor="let est of estatus" [value]="est.id">{{est.nombre}}</option>
                                </select>
                                <select *ngIf="!preproyecto.proyectoId" class="form-control" [(ngModel)]="preproyecto.estatusId"
                                  name="estatusId" #estatusId="ngModel" disabled>
                                  <option [value]="undefined" selected>Seleccionar</option>
                                  <option *ngFor="let est of estatus" [value]="est.id">{{est.nombre}}</option>
                                </select>
                              </div>
      
                              <div class="col-md-2">
                                <br>
                                <label for="exampleInputEmail1">Fecha Estatus</label><br>
                                <input [matDatepicker]="myDatepicker2" class="form-control" [(ngModel)]="preproyecto.fechaEstatus"
                                  name="fechaEstatus" #fechaEstatus="ngModel" style="display:inline; width:150px;"
                                  placeholder="dd/mm/yyyy" disabled>
      
                                <mat-datepicker #myDatepicker2></mat-datepicker>
                              </div>

                              <div class="col-md-12">
                                <br>
                                <label>Nombre Proyecto(*)</label>
                                <textarea class="form-control" rows="2" placeholder="Nombre Proyecto"
                                  [(ngModel)]="preproyecto.nombreProyecto" name="nombreProyecto" required maxlength="2000"
                                  #nombreProyecto="ngModel"></textarea>
                              </div>

                              <div class="col-md-5">
                                <br>
                                <label for="exampleInputEmail1">Relación Objetivos (*)</label>
                                <select class="form-control" required [(ngModel)]="preproyecto.tipoObjetivoId"
                                  name="tipoObjetivoId" required #tipoObjetivoId="ngModel">
                                  <option [value]="undefined" selected>Seleccionar</option>
                                  <option *ngFor="let ali of alineaciones" [value]="ali.tipoObjetivoId">{{ali.descripcionObjetivo}}
                                  </option>
                                </select>
                              </div>

                              <div class="col-md-2">
                                <br>
                                <label for="exampleInputEmail1">Código BDP (*)</label>
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                  placeholder="Código BDP" [(ngModel)]="preproyecto.codigoBdp" name="codigoBdp"
                                  required maxlength="50" #codigoBdp="ngModel">
                              </div>

                              <div class="col-md-2">
                                <br>
                                <label for="exampleInputEmail1">Duración (meses) (*)</label>
                                <input type="number" class="form-control" id="exampleInputEmail1"
                                  placeholder="Duración (meses)" [(ngModel)]="preproyecto.duracion" name="duracion"
                                  required maxlength="4" #duracion="ngModel" onKeyPress="if(this.value.length==4) return false;">
                              </div>

                              <div class="col-md-3">
                                <br>
                                <label for="exampleInputEmail1">Costo Estimado (*)</label>
                                <input type="number" class="form-control" id="exampleInputEmail1"
                                  placeholder="Costo Estimado" [(ngModel)]="preproyecto.costoEstimado" name="costoEstimado"
                                  required maxlength="50" #costoEstimado="ngModel">
                              </div>

                            <div class="col-md-12">
                                <br>
                                <label for="exampleInputEmail1">Dependencia Lider (*)</label>
                                <kendo-combobox
                                    [data]="dataOrg2"
                                    [valuePrimitive]="true"
                                    [valuePrimitive]="true"
                                    textField="text"
                                    valueField="value"
                                    name="preproyecto.dependenciaLider"
                                    [(ngModel)]="preproyecto.dependenciaLider"
                                    [filterable]="true"
                                    (filterChange)="handleFilterOrg2($event)"
                                    placeholder="Seleccionar"
                                    (selectionChange)="seleccionarOrgLid($event)"
                                    >
                                </kendo-combobox>
                                
                            </div>

                        </div>
                      </div>
                      <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel"
                        aria-labelledby="custom-tabs-one-profile-tab">
                        <div class="row">     
                            <div class="col-md-12">
                                <label>Pertinencia (*)</label>
                                <textarea class="form-control" rows="2" placeholder="Pertinencia"
                                  [(ngModel)]="preproyecto.pertinencia" name="pertinencia" required maxlength="2000"
                                  #pertinencia="ngModel"></textarea>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <label>Problemática / Necesidad (*)</label>
                                <textarea class="form-control" rows="2" placeholder="Problemática / Necesidad"
                                  [(ngModel)]="preproyecto.problematica" name="problematica" required maxlength="2000"
                                  #problematica="ngModel"></textarea>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <label>Dependencias Estratégicas(*)</label>
                                <textarea class="form-control" rows="2" placeholder="Dependencias Estratégicas"
                                  [(ngModel)]="preproyecto.dependenciasEstrategicas" name="dependenciasEstrategicas" required maxlength="2000"
                                  #dependenciasEstrategicas="ngModel"></textarea>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <label>Socios Estratégicos</label>
                                <textarea class="form-control" rows="1" placeholder="Socios Estratégicos"
                                  [(ngModel)]="preproyecto.sociosEstrategicos" name="sociosEstrategicos" maxlength="2000"
                                  #sociosEstrategicos="ngModel"></textarea>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <label>Roles Entidades</label>
                                <textarea class="form-control" rows="1" placeholder="Roles Entidades"
                                  [(ngModel)]="preproyecto.rolesParticipantes" name="rolesParticipantes" maxlength="2000"
                                  #rolesParticipantes="ngModel"></textarea>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <label>Posibles Fuentes Financiación (*)</label>
                                <textarea class="form-control" rows="2" placeholder="Posibles Fuentes Financiación"
                                  [(ngModel)]="preproyecto.financiacion" name="financiacion" required maxlength="2000"
                                  #financiacion="ngModel"></textarea>
                            </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="custom-tabs-one-messages" role="tabpanel"
                        aria-labelledby="custom-tabs-one-messages-tab">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Cobertura (*)</label>
                                <textarea class="form-control" rows="1" placeholder="Cobertura"
                                  [(ngModel)]="preproyecto.cobertura" name="cobertura" required maxlength="2000"
                                  #cobertura="ngModel"></textarea>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <label>Población Beneficiaria (*)</label>
                          
                                <ng-multiselect-dropdown class="selectPoblacion"
                                  [placeholder]="'Seleccionar'"
                                  [settings]="dropdownSettings"
                                  [data]="poblaciones"                                  
                                  (onSelect)="onItemSelect($event)"
                                  (onSelectAll)="onSelectAll($event)"
                                  (unSelect)="unSelect($event)"
                                  (unSelectAll)="unSelectAll($event)"
                                  [(ngModel)]="preproyecto.poblaciones"
                                  name="preproyecto.poblaciones"
                                  style="width: 1100px" required>
                                  
                                </ng-multiselect-dropdown>
                                
                                
                            </div>
                            <div class="col-md-12">
                                <br>
                                <label>Antecedentes (*)</label>
                                <textarea class="form-control" rows="1" placeholder="Antecedentes"
                                  [(ngModel)]="preproyecto.antecedentes" name="antecedentes" required maxlength="2000"
                                  #antecedentes="ngModel"></textarea>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <label>Justificación(*)</label>
                                <textarea class="form-control" rows="2" placeholder="Justificación"
                                  [(ngModel)]="preproyecto.justificacion" name="justificacion" required maxlength="2000"
                                  #justificacion="ngModel"></textarea>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <label>Alcance del Proyecto (*)</label>
                                <textarea class="form-control" rows="1" placeholder="Alcance del Proyecto"
                                  [(ngModel)]="preproyecto.alcance" name="alcance" required maxlength="2000"
                                  #alcance="ngModel"></textarea>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <label>Objetivo General  (*)</label>
                                <textarea class="form-control" rows="2" placeholder="Objetivo General"
                                  [(ngModel)]="preproyecto.objetivoGeneral" name="objetivoGeneral" required maxlength="2000"
                                  #objetivoGeneral="ngModel"></textarea>
                            </div>

                            <div class="col-md-5">
                                <br>
                                <label for="exampleInputEmail1">Metodología (*)</label>
                                <select class="form-control" required [(ngModel)]="preproyecto.metodologiaId"
                                  name="metodologiaId" required #metodologiaId="ngModel">
                                  <option [value]="undefined" selected>Seleccionar</option>
                                  <option *ngFor="let met of metodologias" [value]="met.metodologiaId">{{met.nombre}}
                                  </option>
                                </select>
                            </div>

                            <div class="col-md-2" *ngIf="preproyecto.proyectoId">
                                <br>
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <label>Historico</label>
                                &nbsp;&nbsp;
                                <input type="checkbox" id="customCheckbox1" [(ngModel)]="preproyecto.historico" name="historico"
                                  #historico="ngModel">
      
                              </div>
                           
                        </div>
                      </div>
                      
                    </div>
                  </div>
  
  
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button *ngIf="!preproyecto.proyectoId else elseBlock" (click)="create()" type="button" class="btn btn-primary"
            data-dismiss="modal" [disabled]="!preProyectoForm.form.valid">Crear</button>
            <ng-template #elseBlock>
              <button (click)="update()" type="button" class="btn btn-primary" data-dismiss="modal"
                [disabled]="!preProyectoForm.form.valid">Actualizar</button>
            </ng-template>
            <button (click)="cerrarModal()" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  
  </div>

 