<detalle-control [control]= "controlSeleccionado"></detalle-control>
<div class="card border-primary mb-5 my-5 " >
  <div class="card-header"><h5>Controles de riesgos</h5></div>
  <div class="card-body text-black">
    
    <div class="my-2 text-left">
      <button class="btn btn-rounded bg-white" (click)="crearControl()" type="button" placement="bottom" ngbTooltip="Crear Control de riesgo"><i class="far fa-plus-square fa-lg"></i></button>
      <button class="btn btn-rounded bg-white" (click)="descargarPDF()" type="button" *ngIf="controles && controles.length>0" placement="bottom" ngbTooltip="Descargar PDF"><i class="far fa-file-pdf fa-lg"></i></button>
    </div>
    
    <div *ngIf="controles?.length==0" class="alert alert-info">
      No hay registros en la base de datos!
    </div>
    
    <table mdbTable class="table table-bordered tabled-striped table-sm" >
      <thead>
        <tr class="text-white bg-primary">
          <td width="50">Acciones</td>
          <td>Control</td>
          <td>Descripción</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let el of elements | paginate: {itemsPerPage: 10, currentPage: pageConR, id: 'pageConRi'}">
          <td width="50" >
            <i class="fas fa-edit" (click)="abrirModal(el)" style="cursor: pointer;"></i> &nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fas fa-trash-alt" (click)='delete(el)'  style="cursor: pointer;"></i>
          </td>
          <td >{{el.control}} </td>
          <td >{{el.controlDescripcion}} </td>
        </tr>
      </tbody>

    </table>
    <pagination-controls id="pageConRi" previousLabel="Anterior"
    nextLabel="Siguiente" (pageChange)="pageConR = $event"></pagination-controls>
  </div>

</div>