<div *ngIf="modalservice.modal" class="abrir-modal animacion fadeIn">
  <div
    *ngIf="modalservice.modal"
    class="modal my-5"
    tabindex="-1"
    role="dialog"
    style="display: block"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" style="width: 1200px">
        <div
          class="modal-header text-white"
          style="background-color: #007bff; height: 50px"
        >
          <h4 class="modal-title">{{ titulo }}</h4>
        </div>
        <div class="modal-body">
          <div class="container">
            <form #medicionForm="ngForm">
              <div class="form-row">
                <div class="card-body">
                  <div class="tab-content" id="custom-tabs-one-tabContent">
                    <div
                      class="tab-pane fade show active"
                      id="custom-tabs-one-home"
                      role="tabpanel"
                      aria-labelledby="custom-tabs-one-home-tab"
                    >
                      <div class="row">
                        <div class="col-md-12">
                          <label for="exampleInputEmail1">Objetivo (*)</label
                          ><br />
                          <label for="exampleInputEmail2">{{ objetivo }}</label
                          ><br />
                        </div>
                        <br />

                        <div class="col-md-4">
                          <br />
                          <label for="exampleInputEmail1">Frecuencia (*)</label>
                          <select
                            class="form-control"
                            [(ngModel)]="frecuencia"
                            name="frecuencia"
                            required
                          >
                            <option [value]="undefined">Seleccionar</option>
                            <option [value]="1" selected>Mensual</option>
                            <option [value]="2">Trimestral</option>
                          </select>
                        </div>

                        <br />
                        <br />
                        <div class="col-md-2">
                          <br />
                          <label for="exampleInputEmail1">Año</label>
                          <input
                            type="text"
                            class="form-control"
                            id="exampleInputEmail1"
                            placeholder="Año"
                            maxlength="4"
                            [(ngModel)]="anio"
                            name="anio"
                            required
                          />
                        </div>

                        <div class="col-md-3">
                          <br />
                          <label for="exampleInputEmail1">Periodo Inicio</label>

                          <div *ngIf="this.frecuencia == 1">
                            <select
                              class="form-control"
                              [(ngModel)]="periodoIni"
                              name="periodoIni"
                              required
                            >
                              <option [value]="undefined" selected>
                                Seleccionar
                              </option>
                              <option [value]="1">1</option>
                              <option [value]="2">2</option>
                              <option [value]="3">3</option>
                              <option [value]="4">4</option>
                              <option [value]="5">5</option>
                              <option [value]="6">6</option>
                              <option [value]="7">7</option>
                              <option [value]="8">8</option>
                              <option [value]="8">9</option>
                              <option [value]="10">10</option>
                              <option [value]="11">11</option>
                              <option [value]="12">12</option>
                            </select>
                          </div>
                          <div *ngIf="this.frecuencia == 2">
                            <select
                              class="form-control"
                              [(ngModel)]="periodoIni"
                              name="periodoIni"
                              required
                            >
                              <option [value]="undefined" selected>
                                Seleccionar
                              </option>
                              <option [value]="1">1</option>
                              <option [value]="2">2</option>
                              <option [value]="3">3</option>
                              <option [value]="4">4</option>
                            </select>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <br />
                          <label for="exampleInputEmail1">Periodo Fin</label>

                          <div *ngIf="this.frecuencia == 1">
                            <select
                              class="form-control"
                              [(ngModel)]="periodoFin"
                              name="periodoFin"
                              required
                            >
                              <option [value]="undefined" selected>
                                Seleccionar
                              </option>
                              <option [value]="1">1</option>
                              <option [value]="2">2</option>
                              <option [value]="3">3</option>
                              <option [value]="4">4</option>
                              <option [value]="5">5</option>
                              <option [value]="6">6</option>
                              <option [value]="7">7</option>
                              <option [value]="8">8</option>
                              <option [value]="8">9</option>
                              <option [value]="10">10</option>
                              <option [value]="11">11</option>
                              <option [value]="12">12</option>
                            </select>
                          </div>

                          <div *ngIf="this.frecuencia == 2">
                            <select
                              class="form-control"
                              [(ngModel)]="periodoFin"
                              name="periodoFin"
                              required
                            >
                              <option [value]="undefined" selected>
                                Seleccionar
                              </option>
                              <option [value]="1">1</option>
                              <option [value]="2">2</option>
                              <option [value]="3">3</option>
                              <option [value]="4">4</option>
                            </select>
                          </div>
                        </div>

                        <div class="col-md-1">
                          <br />
                          <label>Real</label>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <input
                            type="checkbox"
                            id="customCheckbox1"
                            [(ngModel)]="real"
                            name="real"
                          />
                        </div>
                        <div class="col-md-1">
                          <br />
                          <label>Meta</label>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <input
                            type="checkbox"
                            id="customCheckbox1"
                            [(ngModel)]="meta"
                            name="meta"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button
            (click)="aceptar()"
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            [disabled]="!medicionForm.form.valid"
          >
            Aceptar
          </button>

          <button
            (click)="cerrarModal()"
            type="button"
            class="btn btn-danger"
            data-dismiss="modal"
          >
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
