<div *ngIf="modalservice.modal" class="abrir-modal animacion fadeIn"> 

  <div *ngIf="modalservice.modal" class="modal my-5" tabindex="-1" role="dialog" style="display:block;">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header text-white" style="background-color: #007BFF;">
            <h4 class="modal-title">{{titulo}}</h4>
            <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="container">
                  <form  #ideaForm="ngForm">
                    <div class="form-row">       
                                  <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                    <li class="nav-item">
                                      <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Parte I</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Parte II</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" id="custom-tabs-one-messages-tab" data-toggle="pill" href="#custom-tabs-one-messages" role="tab" aria-controls="custom-tabs-one-messages" aria-selected="false">Parte III</a>
                                    </li>
                                    <li class="nav-item" *ngIf="idea.ideaId">
                                      <a class="nav-link" id="custom-tabs-one-settings-tab" data-toggle="pill" href="#custom-tabs-one-settings" role="tab" aria-controls="custom-tabs-one-settings" aria-selected="false">Anexos</a>
                                    </li>
                                  </ul>
                              
                                <div class="card-body">
                                  <div class="tab-content" id="custom-tabs-one-tabContent">
                                    <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                                      <div class="row">
                                          <div class="col-md-12" *ngIf="isAdmin == true">
                                            <label for="exampleInputEmail1">Dependencia Responsable (*)</label>
                                            <select class="form-control" required [(ngModel)]="idea.dependenciaId" name="dependenciaId" required #dependenciaId="ngModel" disabled>
                                              <option [value]="undefined" selected>Seleccionar</option>
                                              <option *ngFor="let org of organizaciones" [value]="org.organizacionId">{{org.nombre}}</option>
                                            </select>
                                          </div>

                                          <div class="col-md-8">
                                            <label for="exampleInputEmail1">Profesional Responsable (*)</label>
                                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Profesional Responsable"
                                            [(ngModel)]="idea.personaEncargada" name="personaEncargada" required maxlength="50" #personaEncargada="ngModel" disabled>
                                          </div>
                                          
                                          <div class="col-md-4">
                                            <label for="exampleInputEmail1">Teléfono Contacto (*)</label>
                                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Teléfono Contacto"
                                            [(ngModel)]="idea.contactoTelefono" name="contactoTelefono" required maxlength="50" #contactoTelefono="ngModel" disabled>
                                          </div> 

                                          <div class="col-md-4">
                                            <label for="exampleInputEmail1">Correo electronico (*)</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Correo electronico"
                                            [(ngModel)]="idea.contactoEmail" name="contactoEmail" required maxlength="50" #contactoEmail="ngModel" disabled>
                                          </div>

                                                                                     

                                          <div class="col-md-5">
                                            <label for="exampleInputEmail1">Fecha Radicación (*)</label>
                                            <input [matDatepicker]="myDatepicker" class="form-control" [(ngModel)]="idea.fechaRadicacion" name="fechaRadicacion" required #fechaRadicacion="ngModel" 
                                              style="display:inline; width:250px;" placeholder="dd/mm/yyyy" disabled>
                                              <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
                                              <mat-datepicker #myDatepicker></mat-datepicker>
                                          </div>

                                          <div class="col-md-3">
                                            <label for="exampleInputEmail1">Año Formulación (*)</label>
                                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Año Formulación"
                                            [(ngModel)]="idea.anioFormulacion" name="anioFormulacion" required maxlength="4" #anioFormulacion="ngModel" disabled>
                                          </div>


                                          <div class="col-md-12">
                                              <label for="exampleInputEmail1">Nombre Iniciativa / Propuesta(*)</label>
                                              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombre Idea"
                                              [(ngModel)]="idea.nombreIdea" name="nombreIdea" required maxlength="250" #nombreIdea="ngModel" disabled>
                                          </div>
                                          
                                          <div class="col-md-12">
                                            <label>Objetivo General </label>
                                            <textarea class="form-control" rows="3" placeholder="Objetivo General"
                                            [(ngModel)]="idea.objetivoGeneral" name="objetivoGeneral" maxlength="2000" #objetivoGeneral="ngModel" disabled></textarea>
                                        </div>

                                        <div class="col-md-12">
                                          <label>Descripción Propuesta(*)</label>
                                          <textarea class="form-control" rows="3" placeholder="Descripción Propuesta"
                                          [(ngModel)]="idea.descripcionIdea" name="descripcionIdea" required maxlength="2000" #descripcionIdea="ngModel" disabled></textarea>
                                      </div>
                                          
                                          <div class="col-md-4">
                                              <label for="exampleInputEmail1">Tipo Propuesta (*)</label>
                                              <select class="form-control" required [(ngModel)]="idea.tipoPropuestaId" name="tipoPropuestaId" required #tipoPropuestaId="ngModel" disabled>
                                                <option [value]="undefined" selected>Seleccionar</option>
                                                <option *ngFor="let pro of propuestas" [value]="pro.tipoPropuestaId">{{pro.tipoPropuesta}}</option>
                                              </select>
                                          </div>

                                                                                      
                                          <div class="col-md-4">
                                              <label for="exampleInputEmail1">Estatus Idea</label>
                                              <select *ngIf="idea.ideaId" class="form-control" [(ngModel)]="idea.estatusIdeaId" name="estatusIdeaId" #estatusIdeaId="ngModel" disabled>
                                                <option [value]="undefined" selected>Seleccionar</option>
                                                <option *ngFor="let est of estatus" [value]="est.estatusIdeaId">{{est.estatus}}</option>
                                              </select>
                                              <select *ngIf="!idea.ideaId" class="form-control" [(ngModel)]="idea.estatusIdeaId" name="estatusIdeaId" #estatusIdeaId="ngModel" disabled>
                                                <option [value]="undefined" selected>Seleccionar</option>
                                                <option *ngFor="let est of estatus" [value]="est.estatusIdeaId">{{est.estatus}}</option>
                                              </select>
                                          </div>

                                          <div class="col-md-4">
                                            <label for="exampleInputEmail1">Fecha Estatus</label>
                                            <input [matDatepicker]="myDatepicker" class="form-control" [(ngModel)]="idea.fechaEstatus" name="fechaEstatus" #fechaEstatus="ngModel" 
                                              style="display:inline; width:150px;" placeholder="dd/mm/yyyy" disabled>
                                             
                                              <mat-datepicker #myDatepicker></mat-datepicker>
                                          </div>
                      
                                          <div class="col-md-2" *ngIf="idea.ideaId">
                                            <br>
                                            <label>Historico</label>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                              <input type="checkbox" id="customCheckbox1"
                                              [(ngModel)]="idea.historico" name="historico" #historico="ngModel" disabled>
                                              
                                          </div>

                                          
                      
                                                                
                                      </div>  
                                    </div>
                                    <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                                      <div class="row">

                                        <div class="col-md-12">
                                          <label>Problemática / Necesidad (*)</label>
                                          <textarea class="form-control" rows="3" placeholder="Problemática"
                                          [(ngModel)]="idea.problematica" name="problematica" required maxlength="2000" #problematica="ngModel" disabled></textarea>
                                        </div>

                                        <div class="col-md-12">
                                          <label>Población (*)</label>
                                          <textarea class="form-control" rows="3" placeholder="Población"
                                          [(ngModel)]="idea.poblacion" name="poblacion" required maxlength="2000" #poblacion="ngModel" disabled></textarea>
                                        </div>
                                        
                                        <div class="col-md-12">
                                          <label>Focalización de la Población</label>
                                          <textarea class="form-control" rows="2" placeholder="Focalización de la Población"
                                          [(ngModel)]="idea.focalizacion" name="focalizacion"  maxlength="2000" #focalizacion="ngModel" disabled></textarea>
                                        </div>
                                        
                                        <div class="col-md-12">
                                          <label for="exampleInputEmail1">Alineación plan (*)</label>
                                          <select class="form-control" required [(ngModel)]="idea.tipoObjetivoId" name="tipoObjetivoId" #tipoObjetivoId="ngModel" disabled>
                                              <option [value]="undefined" selected>Seleccionar</option>
                                              <option *ngFor="let obj of objetivos" [value]="obj.tipoObjetivoId">{{obj.descripcionObjetivo}}</option>
                                          </select>
                                        </div>
                                           
                                          
                                            <div class="col-md-12">
                                                <label>Impacto Estimado(*)</label>
                                                <textarea class="form-control" rows="3" placeholder="Impacto"
                                                [(ngModel)]="idea.impacto" name="impacto" required maxlength="2000" #impacto="ngModel" disabled></textarea>
                                            </div>

                                          <div class="col-md-12">
                                              <label for="exampleInputEmail1">Duración Total</label>
                                              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Duración Total"
                                              [(ngModel)]="idea.duracionTotal" name="duracionTotal" maxlength="250" #duracionTotal="ngModel" disabled>
                                          </div>
            
                                          
                                                                
                                      </div>  
                                    </div>
                                    <div class="tab-pane fade" id="custom-tabs-one-messages" role="tabpanel" aria-labelledby="custom-tabs-one-messages-tab">
                                      <div class="row">   

                                        <div class="col-md-12">
                                          <label>Posibles Fuentes Financiación (*)</label>
                                          <textarea class="form-control" rows="3" placeholder="Financiación"
                                          [(ngModel)]="idea.financiacion" name="financiacion" required maxlength="2000" #financiacion="ngModel" disabled></textarea>
                                      </div>

                                      <div class="col-md-12">
                                        <label>Dependencias Participantes (*)</label>
                                        <textarea class="form-control" rows="3" placeholder="Dependencias Participantes"
                                        [(ngModel)]="idea.dependenciasParticipantes" name="dependenciasParticipantes" required maxlength="2000" #dependenciasParticipantes="ngModel" disabled></textarea>
                                      </div>

                                      <div class="col-md-12">
                                        <label>Proyectos Ejecutados(*)</label>
                                        <textarea class="form-control" rows="3" placeholder="Proyectos Ejecutados"
                                        [(ngModel)]="idea.proyectosEjecutados" name="proyectosEjecutados" required maxlength="500" #proyectosEjecutados="ngModel" disabled></textarea>
                                    </div>

                                      <div class="col-md-12">
                                          <label>Capacidad Técnica (*)</label>
                                          <textarea class="form-control" rows="2" placeholder="Capacidad Técnica"
                                          [(ngModel)]="idea.capacidadTecnica" name="capacidadTecnica" required maxlength="2000" #capacidadTecnica="ngModel" disabled></textarea>
                                      </div>
                                     <div class="col-md-12">
                                              <label>Observaciones</label>
                                              <textarea class="form-control" rows="3" placeholder="Observaciones"
                                              [(ngModel)]="idea.observaciones" name="observaciones" maxlength="2000" #observaciones="ngModel" disabled></textarea>
                                          </div>
                                      </div> 
                                    </div>
                                    <div class="tab-pane fade" id="custom-tabs-one-settings" role="tabpanel" aria-labelledby="custom-tabs-one-settings-tab" *ngIf="idea.ideaId">
                                        <div class="row">   
                                          <div class="col-md-12">
                                            <label>Nombre del Documento</label>
                                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombre del Documento"
                                            [(ngModel)]="documento.tituloDocumento" name="tituloDocumento"  maxlength="30" #tituloDocumento="ngModel" disabled>
                                          </div>
                                          <div class="col-md-12">
                                                <label>Descripción</label>
                                                <textarea class="form-control" rows="3" placeholder="Descripción"
                                                [(ngModel)]="documento.descripcion" name="descripcion" maxlength="30" #descripcion="ngModel" disabled></textarea> 
                                          </div>
                                          
                                            <div class="form-group col-md-12" >
                                              <label for="documento" style="font-size: medium">Documento</label> <br>
                                              <label style="font-size: medium" *ngIf="documento">{{documento.tituloDocumento}}</label> &nbsp; &nbsp;
                                                                                               
                                            </div>  
                                            
                                          </div>  
                                    </div>
                                  </div>
                                </div>

                         
                    </div>   
                  </form>    
              </div>
          </div>
          <div class="modal-footer">
             
            <button (click)="cerrarModal()" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  
</div>
