<section class="vh-100">
    <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
        Copyright © 2022 Strategos. Todos los derechos reservados.
      </div>
      <!-- Copyright -->
  
      <!-- Right -->
      
      <!-- Right -->
    </div>
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
         <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form method="POST">
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
             <img src="/assets/img/logo.gif">
            </div>
            <br>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example3">Usuario</label>
              <input type="text" class="form-control" placeholder="" id="username" name="username"
            [(ngModel)]="usuario.username" autofocus required>
            
            </div>

            <!-- Password input -->
            <div class="form-outline mb-3">
              <label class="form-label" for="form3Example4">Contraseña</label>
              <input type="password" class="form-control" placeholder="" id="pwd" [(ngModel)]="usuario.pwd"
              name="password" required>
            
            </div>

           
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-dark btn-md"
              style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)='login()'>Ingresar</button>
           
            </div>
  
          </form>
        </div>
      </div>
    </div>
    
  </section>