<div *ngIf="modalservice.modal" class="abrir-modal animacion fadeIn"> 

    <div *ngIf="modalservice.modal" class="modal my-5" tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header text-white" style="background-color: #007BFF;">
              <h4 class="modal-title">{{titulo}}</h4>
              <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form  #criterioForm="ngForm">
                      <div class="form-row">       
                                                               
                        <div class="col-md-12">
                            <label for="exampleInputEmail1">Criterio de Ponderación</label>
                            <textarea class="form-control" rows="3" placeholder="Control"
                            [(ngModel)]="criterio.control" name="control" #control="ngModel"></textarea>
                        </div>
                     
                        <div class="col-md-12">
                          <br>
                            <label>Peso</label>

                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Peso"
                            [(ngModel)]="criterio.peso" name="peso" #peso="ngModel">

                            
                        </div>  
                        
                      </div>   
                    </form>    
                </div>
            </div>
            <div class="modal-footer">
                <button *ngIf="!criterio.criterioId else elseBlock" (click)="create()" type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="!criterioForm.form.valid">Crear</button>
                <ng-template #elseBlock>
                    <button (click)="update()" type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="!criterioForm.form.valid">Actualizar</button>
                </ng-template>
              <button (click)="cerrarModal()" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    
</div>
