

<div *ngIf="modalservice.modal" class="abrir-modal animacion fadeIn"> 

    <div *ngIf="modalservice.modal" class="modal my-5" tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header text-white" style="background-color: #007BFF;">
              <h5 class="modal-title">{{titulo}}</h5>
              <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form  #calificacionForm="ngForm">
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="calificacion" style="font-size: medium">Calificación de riesgo</label>
                            <input type="text" class="form-control" placeholder="Calificación" [(ngModel)]="calificacion.calificacionesRiesgo" name="calificacionesRiesgo"
                            required maxlength="50" #nombre="ngModel">
                            <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                              <div *ngIf="nombre.errors.required">
                                Calificación es requerido
                              </div>
                            </div>
    
                          </div>
                          <div class="form-group col-md-3">
                            <label for="inputPassword4" style="font-size: medium">Rango mínimo</label>
                            <input type="number" class="form-control" placeholder="Rango mínimo" [(ngModel)]="calificacion.calificacionesRiesgoMinimo" name="calificacionesRiesgoMinimo"
                            required #minimo="ngModel">
                            <div class="alert alert-danger" *ngIf="minimo.invalid && (minimo.dirty || minimo.touched)">
                              <div *ngIf="minimo.errors.required">
                                Rango mínimo es requerido
                              </div>
                            </div>
                          </div>
                          <div class="form-group col-md-3">
                            <label for="inputAddress" style="font-size: medium">Rango máximo</label>
                            <input type="number" class="form-control" placeholder="Rango máximo" [(ngModel)]="calificacion.calificacionesRiesgoMaximo" name="calificacionesRiesgoMaximo"
                            required #maximo="ngModel">
                            <div class="alert alert-danger" *ngIf="maximo.invalid && (maximo.dirty || maximo.touched)">
                              <div *ngIf="maximo.errors.required">
                                Rango máximo es requerido
                              </div>
                            </div>
                          </div>
                       
                        <div class="form-group col-md-6">
                          <label for="color" style="font-size: medium">Color</label>
                          <select class="form-control" [(ngModel)]="calificacion.calificacionesRiesgoColor" name="calificacionesRiesgoColor" required #color="ngModel">
                            <option [value]="undefined" selected *ngIf="!calificacion.calificacionesRiesgoColor">Seleccionar
                            <option *ngFor="let color of colores" [value]="color" >{{color}}
                          </select>
                          <div class="alert alert-danger" *ngIf="color.invalid && (color.dirty || color.touched)">
                            <div *ngIf="color.errors.required">
                              Color es requerido
                            </div>
                          </div>
                        </div>  
                        <div class="form-group col-md-6">
                          <label for="inputAddress2" style="font-size: medium">Acción a tomar</label>
                          <textarea class="form-control" rows="5" placeholder="Acción a tomar" [(ngModel)]="calificacion.calificacionesRiesgoAccion" name="calificacionesRiesgoAccion"
                          maxlength="500"></textarea>
                        </div>
                      </div>                 
                        
                        
                      </form>    
                </div>
            </div>
            <div class="modal-footer">
                <button *ngIf="!calificacion.calificacionesRiesgoId else elseBlock" (click)="create()" type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="!calificacionForm.form.valid">Crear</button>
                <ng-template #elseBlock>
                    <button (click)="update()" type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="!calificacionForm.form.valid">Actualizar</button>
                </ng-template>
              <button (click)="cerrarModal()" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    
    </div>