<detalle-indicador [indicador]="indicadorSeleccionado"></detalle-indicador>
<medicion-indicador></medicion-indicador>
    <!-- Main content -->
    <section class="content">
      <h2>Indicadores</h2>
    
    
    </section>

    <!-- /.card-footer-->
    <!-- Default box -->
    <div class="card">
      <div class="card-body">

        <button type="button" class="btn" (click)=" crearIndicador()" title="Crear Indicador">
          <i class="fa-md fas fa-plus"></i>
      </button>
        
      <button type="button" class="btn" (click)=" cargarMedicion()" title="Cargar Mediciones">
        <i class="fas fa-table"></i>
      </button>
            
        <div *ngIf="indicadores?.length==0" class="alert alert-info">
            No hay registros en la base de datos!
        </div>
    
        <div class="table-responsive">
            <table mdbTable class="table table-bordered tabled-striped table-sm" id="tabla" style="border-collapse: collapse;">
              <thead>
                <tr class="text-white bg-primary">
                  <td width="80">Acciones</td>
                  <td width="50">Alerta</td>
                  <td>Indicador</td>
                  <td width="150">Unidad</td>
                  <td width="70">Ejecutado</td>
                  <td width="70">Meta</td>
                  <td width="90">% Cumplimiento</td>
                  <td width="70">Última Medición</td>
                </tr>
              </thead>
              
              <tbody>
                <tr *ngFor="let ind of indicadores | paginate: {itemsPerPage: 10, currentPage: pageIndi, id: 'pageInd'}">
                  <td width="80" >
                    
                    <i class="fas fa-edit" (click)="editarIndicador(ind)" style="cursor: pointer;"></i>
                    &nbsp;
                    <i class="fas fa-trash-alt" (click)='eliminarIndicador(ind)' style="cursor: pointer;"></i>
                    &nbsp;
                    <i class="fas fa-chart-bar" (click)='graficar(ind)' style="cursor: pointer;"></i>
                    
                  </td>
                  <td width="50">
                    <div id="red" *ngIf="ind.alerta == 3"></div>
                    <div id="yellow" *ngIf="ind.alerta == 2"></div>
                    <div id="green" *ngIf="ind.alerta == 1"></div>
                  </td>
                  <td >{{ind.nombre}} </td>
                  <td width="150">{{ind.nombreUnidad}} </td>
                  <td width="70">{{ind.ultimaMedicion}} </td>
                  <td width="70">{{ind.ultimoProgramado}} </td>
                  <td width="90">{{ind.porcentajeCumplimiento | number: '.1-2' }} </td>
                  <td width="70">{{ind.fechaUltimaMedicion}} </td>
                </tr>
              </tbody>
              
                       
            </table>
        
            <pagination-controls id="pageInd" previousLabel="Anterior"
              nextLabel="Siguiente" (pageChange)="pageIndi = $event"></pagination-controls>
        
        </div>
  
      </div>
    </div>  
    
    <!-- /.content -->

  <!-- /.content-wrapper -->

